@use "../../deployment/sass/custom-icons.scss" as module0;
@use "../../theme/web/custom-variables.scss" as module1;
@use "../../themesource/administration/web/main.scss" as module2;
@use "../../themesource/communitycommons/web/main.scss" as module3;
@use "../../themesource/documentgeneration/web/main.scss" as module4;
@use "../../themesource/nanoflowcommons/web/main.scss" as module5;
@use "../../themesource/randomobject/web/main.scss" as module6;
@use "../../themesource/webactions/web/main.scss" as module7;
@use "../../themesource/atlas_core/web/main.scss" as module8;
@use "../../themesource/atlas_web_content/web/main.scss" as module9;
@use "../../themesource/datawidgets/web/main.scss" as module10;
@use "../../themesource/feedbackmodule/web/main.scss" as module11;
@use "../../themesource/builder/web/main.scss" as module12;
@use "../../themesource/solver/web/main.scss" as module13;
@use "../../themesource/quizapp/web/main.scss" as module14;
@use "../../themesource/extensions/web/main.scss" as module15;
@use "../../themesource/anonymous/web/main.scss" as module16;
@use "../../themesource/datastore/web/main.scss" as module17;
@use "../../themesource/dataservice/web/main.scss" as module18;
@use "../../theme/web/main.scss" as module19;