@import "custom-variables";

.option-item:hover{
    background-color: rgb(233, 227, 227);

}

.option-item-selected{
    border: 1px dashed;
}

.disable-solver {
    pointer-events: none;
}

.mx-listview > ul > li {
    padding : 0 !important;
}